@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Noto+Serif+KR:wght@200&family=Square+Peg&display=swap');

body {
    font-family: 'Noto Serif', serif;
    margin: 0;
    padding: 0;
    text-align: justify;
    background-color: lightpink;
}

.container,
footer,
header {
    display: flex;
    flex-flow: column wrap;
}

header {
    font-family: 'Square Peg', cursive;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 1px black;
    background-image: url(../img/fondo.jpg);
    height: auto;
    background-repeat: no-repeat;
}

.container {
    height: 100%;
    background-color: white;
}

.nombrePagina {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

span.coreano {
    font-family: 'Noto Serif KR', serif;
}

#btn_menu,
ul.navigation {
    padding-left: 0;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

li a {
    color: #45484a;
    text-decoration: none;
}

ul.navigation {
    list-style: none;
    display: none;
}

ul.navigation.show {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/*--------- Estilos Index---------------*/
article.articulo,
.container {
    margin: 2%;
}

article.articulo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-bottom: 2px solid black;
}
.imagenes {
    display: none;
}

h1.nombreSeccion,
thead,
h1.tituloPost {
    color: #45484a;
    font-family: 'Square Peg', cursive;
    text-align: left;
}

h1.nombreSeccion,
h1.tituloPost {
    font-size: 40px;
    margin: 0;

}

h2.tituloDrama {
    font-size: 20px;
}

img.imagen {
    border-radius: 3%;
    height: 50%;
    width: 50%;
    margin: 0 auto;
    padding: 5%;
}

iframe {
    height: 15rem;
    width: 100%;
    margin-bottom: 3%;
}

figure {
    margin: 0 auto;
}

/*--------- Estilos Formulario----------*/
.formulario {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
}

input.inputRegistrarme,
textarea.textArea {
    width: 90%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #45484a;
    font-size: 18px;
}

.formulario .textArea {
    height: 50%;
    resize: none;
}

input::selection,
textarea::selection {
    background-color: #ffe0e9;
    color: #45484a;
}

/*--------- Estilos Captcha-----------*/
.ocultar {
    display: none;
}

.numeroIngresado .inputForm {
    width: 30%;
    height: 35px;
}

div.captcha {
    width: 90%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.captcha #aleatorio {
    font-size: 30px;

}
.btn-editar,
.btn-borrarFila,
.button,
.buttonEnviar{
    background-color: lightpink;
    border-radius: 5px;
}
.button,
.buttonEnviar {
    width: 30%;
    height: auto;
}

/*---------- Estilos Tabla------------*/
#divErrores.mostrarResultado {
    font-size: 1em;
    color: #45484a;
    display: block;
    padding: 1%;
}
#divErrores {
    display: none;
}
table#tabla {
    width: 100%;
    display: block; /*Necesario para scroll*/
    overflow-x: auto;
    padding-bottom: 1%;
    justify-content: center;
}

thead.encabezado {
    font-size: 30px;
    font-weight: bold;
    width: 100%;
}

table tr td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}
td.celdaBotones {
    border: none;
    background: white;
}

form.formTabla {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
}

.resaltado {
    background-color: rgb(254, 220, 226);
    font-weight: bold;
}

#btn-agregar,
#btn-agregar3 {
    width: 50%;
    height: auto;
    margin-top: 5%;
}

form.formTabla input {
    margin: 0 auto;
    /*esto centra los inputs*/
    width: 100%;
}

div.inputsTabla {
    width: 15rem;
    margin-right: 4%;
}

/*input:focus { /*no se aplica 
    border: 1px solid black;
}*/

/*---------- Estilos Footer------------*/
footer {
    padding-top: 10px;
}

p.copyright {
    margin: 10px;
    color: gray;
    font-size: 12px;
    width: fit-content;
}

div.redes {
    text-align: center;
}

.redes img {
    height: 30px;
    border-radius: 30px;

}

@media only screen and (min-width: 660px) {
    body {
        border: 20px solid lightpink;
        background-color: white;
    }

    #btn_menu {
        /*oculto boton*/
        display: none;
    }

    nav li:hover {
        font-size: 18px;
    }

    ul.navigation {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: lightpink;
        margin-top: 0;
        padding-top: 10px;
        height: 40px;
    }

    /*------Estilos Index----------*/
    img.imagen {
     /*    height: 300px;
        width: 215px; */
        display: none;
    }

    iframe {
        width: 25rem;
    }

  /*    div.estreno {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-start;
    }  */
    .imagenes {
        display: flex;
        justify-content: center;
        margin: 2%;
    }
    .imagenDesktop{
        margin: 2%;
    }
 
    div.descripcionDrama {
        width: 100%;
    }

    div.container {
        width: 70%;
        margin: 0% 15%;
    }

    /*------Estilos Formulario----------*/
    .formulario {
        width: 50%;
        border: 3px solid black;
        padding-left: 30px;
    }

    .inputRegistrarme {
        width: 90%;
        height: 40px;
        margin-bottom: 10px;
    }

    div.captcha {
        border: 2px solid black;
    }

    .numeroIngresado {
        text-align: center;

    }

    /*--------Estilos Tabla------------*/
    table#tabla {
        display: revert;
        /*el ancho de la tabla vacia es el del container*/
    }

    form.formTabla {
        flex-direction: row;
        margin: 0 auto;
        align-items: left;
    }

    div.inputsTabla,
    div.btns-tabla {
        display: flex;
        flex-direction: column;
        padding-right: 7%;
    }

    div.inputsTabla {
        width: 45%;
    }

    .containerTabla { /*no lo encontre*/
        align-items: center;
    }

    div.btns-tabla {
        width: 5rem;
    }

    #btn-agregar,
    #btn-agregar3,
    #btn-borrar {
        width: 100%;
    }

    /*--------Estilos Footer-----------*/
    p.copyright {
        width: 60%;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 2% 15%;
    }
}